* {
  margin: 0px;
  /*设置四周边距都为0*/
  box-sizing: border-box;
  /*宽高的设置值包括border等*/
}

body {
  background: url(../images/avator.png) no-repeat;
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 背景图不平铺 */
  background-repeat: no-repeat;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  /* 让背景图基于容器大小伸缩 */
  background-size: contain;
}

html {
  height: 100%;
}

.content {
  perspective: 100px;
  width: 100%;
  height: 250px;
  position: relative;
}

/* 顶部导航条 */
.top {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.74);
}

.top a {
  float: initial;
  display: block;
  /*将链接变为块元素*/
  color: white;
  text-align: center;
  padding: 20px 21px;
  text-decoration: none;
  /*去掉链接的下划线*/
}

/* 链接颜色修改 */
.top a:hover {
  background-color: #ddd;
  color: black;
}

.header {
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/*最顶部导航栏*/
.bar-default {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(100, 100, 0, .1);
}

.navbar {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  border: none;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

@media (min-width: 768px) {

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  top: 0;
  z-index: 500;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(100, 100, 0, .1);
}

.navbar {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  border: none;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

@media (min-width: 768px) {

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  top: 0;
  z-index: 1030;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

@media (min-width: 768px) {

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.home-link {
  text-decoration: none;
}

.site-title {
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #212121;
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

@media (min-width: 768px) {

  .container>.navbar-header,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

@media (min-width: 768px) {

  .navbar-fixed-top .navbar-collapse,
  .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    text-align: center;
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar-collapse {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

/*网页首*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  display: block;
}

.site-header {
  background: #1d2b2d;
  position: relative;
  width: 100%;
  margin-bottom: 3em;
  overflow: hidden;
  min-height: 200px;
}

.site-header {
  background: #1d2b2d;
}

.site-header {
  background: #1d2b2d;
  position: relative;
  width: 100%;
  margin-bottom: 3em;
  overflow: hidden;
  min-height: 135px;
}

/*正中间的字*/
.avr {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
  bottom: 0;
  color: #fff;
  font-size: 70px;
  font-weight: 500;
}

audio {
  position: fixed;
  bottom: 50px;
  right: 0;
}

/* center column */
.centercolumn {
  float: right;
  border-radius: 16px;
  box-shadow: initial;
  box-sizing: border-box;
  padding: 40px;
  width: 85%;
  /*width: calc(100% - 252px);*/
}


/* 文章卡片 */
.card {
  background: rgba(255, 255, 255, 0.356);
  padding: 20px;
  margin-top: 20px;
  border-radius: 50px;
}

#title {
  text-align: center;
}

#qita {
  text-align: right;
}

/* 列后面清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*旋转的音符效果*/
.music {
  background: url(../images/music.png);
  z-index: 999;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 66px;
  height: 66px;
  animation: musics 5s linear infinite;
}

@keyframes musics {
  from {
    transform: rotate (0deg);
    opacity: .6;
  }

  to {
    transform: rotate(360deg);
    opacity: .8;
  }
}

.musicicon {
  display: flex;
  justify-content: space-between;
  padding: 0 400px;
  box-sizing: border-box;
  z-index: 1000;
  overflow: hidden;
}



/* 底部 */


.footer {
  background-image: linear-gradient(white-space);
  text-align: center;
  font-size: 0.875em;

}

.footer.footer-fixed {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.footer-inner {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  width: calc(100% - 20px);
}

@media (min-width: 1200px) {
  .footer-inner {
    width: 1160px;
  }
}

/*中间的字效果*/
.btn {
  cursor: pointer;
  /*使鼠标放上边显示手指形状*/
  font-size: 20px;
  width: 21%;
  height: 60px;
  position: absolute;
  top: 27%;
  left: 41%;
  background-image: linear-gradient(whitesmoke);
  ;
  border-radius: 40px;
  border-color: dodgerblue;
  position: fixed;
  bottom: 0;
}

.btn p {
  line-height: 60px;
  font-size: 29px;
  color: black;
}

.bt {
  cursor: pointer;
  /*使鼠标放上边显示手指形状*/
  width: 25%;
  /*设置宽*/
  height: 50px;
  /*设置高*/
  display: block;
  /*行内元素设置宽高不生效，使用display:block;可以将行内元素设置为块集元素 */
  text-align: center;
  /*文字在容器中横向居中*/
  line-height: 40px;
  /*当数值与height一样的时候文字垂直居中*/
  text-decoration: none;
  /*将文字下划线去除*/
  background-image: linear-gradient(rgba(211, 104, 29, 0.95), rgba(5, 72, 99, 0.95));
  /*设置元素背景颜色：渐变*/
  color: rgba(0, 0, 0, 0.60);
  /*设置文字颜色*/
  border: none;
  /*去除边框*/
  margin-bottom: 10px;
  /*下部外边框距离10像素*/
  margin: auto;
  /*使按钮居中*/
  font-size: 20px;
  /*设置字体大小*/
}




.button {
  background: var(#fff);
  border: 2px solid var(#555);
  border-radius: 16px;
  color: var(#555);
  display: inline-block;
  font-size: 0.875em;
  line-height: 2;
  padding: 0 20px;
  text-decoration: none;
  transition-property: background-color;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.post-button {
  margin-top: 40px;
  text-align: center;
}

/*快速回到页面顶部*/
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: #555;
}


/*书签*/
/*没有显示出正常效果*/
.book-mark-link {
  border-bottom: none;
  display: inline-block;
  position: fixed;
  right: 30px;
  top: -10px;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .book-mark-link {
    display: none;
  }
}

.book-mark-link::before {
  color: #222;
  content: '\f02e';
  font-size: 32px;
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.book-mark-link:hover,
.book-mark-link-fixed {
  top: -2px;
}

.book-mark-link-fixed {
  top: -2px;
}

.reward-container button {
  background: transparent;
  border: 1px solid #fc6423;
  border-radius: 0;
  color: #fc6423;
  cursor: pointer;
  line-height: 2;
  outline: 0;
  padding: 0 15px;
  vertical-align: text-top;
}

.reward-container button:hover {
  background: #fc6423;
  border: 1px solid transparent;
  color: #fa9366;
}

main {
  display: block;
}

.main-inner {
  margin: 0 auto;
  width: calc(100% - 20px);
}

@media (min-width: 1200px) {
  .main-inner {
    width: 1160px;
  }
}

@media (min-width: 1600px) {
  .main-inner {
    width: 73%;
  }
}

.main-inner {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

@media (max-width: 991px) {
  .main-inner {
    width: auto;
  }
}

.site-author-image {
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  max-width: 120px;
  padding: 2px;
}

.site-author-name {
  color: var(--text-color);
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.aside {
  display: block;
}

.sidebar {
  background: whitesmoke;
  position: sticky;
  width: 20%;
  bottom: 0;
  box-shadow: inset 0 2px 6px #000;
  float: left;
  /*position: fixed;*/
  top: 0;
}

@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
}

.sidebar-inner.affix {
  position: fixed;
  top: 20%;
}

.sidebar-inner {
  background: whitesmoke;
  border-radius: 16px;
  box-shadow: initial;
  box-sizing: border-box;
  color: var(--text-color);
  width: 250px;
}

.sidebar-inner {
  padding: 18px 10px;
  text-align: center;

}

.sidebar-nav {
  margin: 0;
  padding-bottom: 20px;
  padding-left: 0;
}

.sidebar-nav li {
  border-bottom: 1px solid transparent;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
}


li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}



.sidebar-nav li.sidebar-nav-overview {
  margin-left: 10px;
}

.sidebar-nav .sidebar-nav-active {
  border-bottom-color: #fc6423;
  color: #fc6423;
}

.navbar-nav>li {
  text-align: center;
  float: left;
}

.nav>li {
  position: relative;
  display: block;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: #fff;
}

@media (min-width: 768px) {

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    border-top: 4px solid #009688;
  }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #009688;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
  color: #333;
}

.navbar-default .navbar-nav>li>a {
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #333;
}

.navbar-default .navbar-nav>li>a {
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-nav>li>a {
  padding-top: 11px;
  padding-bottom: 11px;
}

.navbar-nav>li>a {
  padding-top: 11px;
  padding-bottom: 11px;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

a:visited {
  color: #78909c;
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
}

a {
  background-color: transparent;
}

.site-state-item-count {
  display: block;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
}

/*
.sidebar-nav li:hover {
  color: #fc6423;
}



.sidebar-nav .sidebar-nav-active:hover {
  color: #fc6423;
}

.sidebar-panel {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-panel-active {
  display: block;
} */


.site-description {
  text-align: center;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: .2em 0;
  letter-spacing: 5px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
}

.site-state {
  display: flex;
  justify-content: center;
  line-height: 1.4;
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.site-state-item {
  padding: 0 15px;
}

.site-state-item:not(:first-child) {
  border-left: 1px solid #eee;
}

.site-state-item a {
  border-bottom: none;
}

.site-state-item-count {
  display: block;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

.site-state-item-name {
  color: #999;
  font-size: 0.8125em;
}

.site-state-item {
  padding: 0 10px;
}

.links-of-author {
  margin-top: 15px;
}

.links-of-author a,
.links-of-author span.exturl {
  border-bottom-color: #555;
  display: inline-block;
  font-size: 0.8125em;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.links-of-author a::before,
.links-of-author span.exturl::before {
  background: #ffb675;
  border-radius: 50%;
  content: ' ';
  display: inline-block;
  height: 4px;
  margin-right: 3px;
  vertical-align: middle;
  width: 4px;
}

.links-of-author {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.links-of-author-item {
  margin: 5px 0 0;
  width: 50%;
}

.links-of-author-item a,
.links-of-author-item span.exturl {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 0;
  max-width: 216px;
  overflow: hidden;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.links-of-author-item a,
.links-of-author-item span.exturl {
  border-bottom: none;
  display: block;
  text-decoration: none;
}

.links-of-author-item a::before,
.links-of-author-item span.exturl::before {
  display: none;
}

.links-of-author-item a:hover,
.links-of-author-item span.exturl:hover {
  background: var(--body-bg-color);
  border-radius: 4px;
}

.links-of-author-item .fa,
.links-of-author-item .fab,
.links-of-author-item .far,
.links-of-author-item .fas {
  margin-right: 2px;
}

.links-of-recent-posts {
  font-size: 0.8125em;
  margin-top: 10px;
}

.links-of-recent-posts-title {
  font-size: 1.03em;
  font-weight: 600;
  margin-top: 0;
}

.links-of-recent-posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fa,
.fas {
  font-weight: 900;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.header-inner {
  margin: 0 auto;
  width: calc(100% - 20px);
}

@media (min-width: 1200px) {
  .header-inner {
    width: 1160px;
  }
}

@media (min-width: 1600px) {
  .header-inner {
    width: 73%;
  }
}

.header-inner {
  background: white;
  border-radius: 16px;
  box-shadow: initial;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 240px;
}

@media (min-width: 1200px) {
  .header-inner {
    width: 240px;
  }
}

@media (max-width: 991px) {
  .header-inner {
    border-radius: initial;
    position: relative;
    width: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .site-nav-toggle,
  .site-nav-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.site-nav-toggle,
.site-nav-right {
  display: none;
}

.site-nav-toggle .toggle,
.site-nav-right .toggle {
  color: white;
}

.site-nav-toggle .toggle,
.site-nav-right .toggle {
  color: white;
  padding: 10px;
  width: 22px;
}

.toggle {
  line-height: 0;
}

.toggle.toggle-close .toggle-line-first {
  transform: rotate(-45deg);
  top: 5px;
}

.toggle.toggle-close .toggle-line-middle {
  opacity: 0;
}

.toggle.toggle-close .toggle-line-last {
  transform: rotate(45deg);
  top: -5px;
}

.site-nav-toggle .toggle .toggle-line,
.site-nav-right .toggle .toggle-line {
  background: white;
}

.site-nav-toggle .toggle .toggle-line,
.site-nav-right .toggle .toggle-line {
  background: white;
  border-radius: 1px;
}

.toggle.toggle-close .toggle-line-first {
  transform: rotate(-45deg);
  top: 5px;
}

.toggle .toggle-line {
  background: #fff;
  display: inline-block;
  height: 2px;
  left: 0;
  position: relative;
  top: 0;
  transition: all 0.4s;
  vertical-align: top;
  width: 100%;
}

.site-nav {
  display: block;
}

@media (max-width: 767px) {
  .site-nav {
    clear: both;
    display: none;
  }
}

.site-nav.site-nav-on {
  display: block;
}



@media (min-width: 768px) and (max-width: 991px) {
  .site-nav {
    display: none;
  }
}

.main-menu .menu-item-active a::after {
  background: white;
  border-radius: 50%;
  content: ' ';
  height: 6px;
  margin-top: -3px;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 6px;
}

.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}

container {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

container {
  background: #222;
}

container {
  display: flex;
  flex-shrink: 0;
  padding: 0 10px;
}


@media screen and (max-width: 1000px) {
  .centercolumn {
    width: 100%;
  }

  .card {
    padding: 5px;
    margin: 5px;
  }

  .post-button {
    text-align: center;
  }
}

@media (max-width: 600px) {

  h2,
  h4 {
    text-align: center;
  }

  p {
    text-indent: 2em;
  }

  .post-button a {
    font-size: 12px;
  }
}
